<ion-view title="Dashboard">
  <ion-content class="padding">
    <h1>My Votes</h1>

    <h3>Current</h3>
 	<ion-list>
      <ion-item type="item-text-wrap"  href="#/tab/election/{{election.id}}">
      Feedly.com: our software team should include friend suggestions
      </ion-item>
       <ion-item href="#/tab/election/{{election.id}}" >American idol contestant results
      </ion-item>

 
    <h3>Past</h3>


      <ion-list >
	 <ion-item  href="#/tab/election/{{election.id}}">American idol contestant results
	  </ion-item>

    <ion-item  href="#/tab/election/{{election.id}}">Parent-teacher association
     </ion-item>

     </ion-list>


  </ion-content>
</ion-view>
